---
Language: Cpp
BasedOnStyle: LLVM

BinPackParameters: false
BinPackArguments: false

AlignAfterOpenBracket: AlwaysBreak
# -----------------------------------

Standard: Latest
IndentWidth: 2
ColumnLimit: 80
---
